.page-enter-active,
.page-leave-active {
    transition: all 0.3s ease;
}

.page-enter-active {transition-delay: 0.3s}

.page-enter-from,
.page-leave-to {
    transform: scale(0.95);
    opacity: 0;
}

// sidebar
.sidebar-enter-active,
.sidebar-leave-active {
    transition: all 0.3s ease;
}

.sidebar-enter-from,
.sidebar-leave-to {
    transform: translateX(-100%);
}

// opacity

.opacity-enter-active,
.opacity-leave-active {
    transition: all 0.3s ease;
}

.opacity-enter-active {transition-delay: 0.3s}

.opacity-enter-from,
.opacity-leave-to {
    opacity: 0;
}